<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Media &#8211; Prague</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/slick.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/et-line-font.css">
    <link rel="stylesheet" href="css/before-after.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/unit-test.css">
    <link rel="stylesheet" href="css/style.css?v=3">
</head>

<body>
    <!--PRELOADER-->
    <div class="prague-loader">
        <div class="prague-loader-wrapper">
            <div class="prague-loader-bar">
                PRAGUE
            </div>
        </div>
    </div>
    <!--/PRELOADER-->

    <!--HEADER-->
    <header class="prague-header simple sticky-menu sticky-mobile-menu dark ">

        <div class="prague-logo">
            <a href="index.html">
                <img src="img/logo.png" class="image_logo" alt="logo image" /> </a>
        </div>

        <div class="prague-header-wrapper">

            <div class="prague-navigation">
                <div class="pargue-navigation-wrapper">
                    <div class="prague-navigation-inner">


                        <nav>
                            <ul class="main-menu">
                                <li id="menu-item-2317" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children "><a
                                        href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2358" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home "><a
                                                href="index.html">Main Home</a></li>
                                        <li id="menu-item-2329" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                href="minimalist-home.html">Minimalist Home</a></li>
                                        <li id="menu-item-2342" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="onepage-home.html">OnePage Home</a></li>
                                        <li id="menu-item-2359" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-film-strip.html">Film Strip</a></li>
                                        <li id="menu-item-2360" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-category-list.html">Category List</a></li>
                                        <li id="menu-item-2364" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="revolution-slider.html">Revolution Slider</a></li>
                                        <li id="menu-item-2361" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-timeline-images.html">Timeline Projects</a></li>
                                        <li id="menu-item-2362" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-1876 current_page_item "><a
                                                href="creative-banner.html">Creative Banner</a></li>
                                        <li id="menu-item-2363" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="projects.html">Projects</a></li>
                                        <li id="menu-item-2461" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="parallax-presentation.html">Parallax Presentation</a></li>
                                        <li id="menu-item-2375" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                href="parallax-with-text.html">Parallax With Text</a></li>
                                        <li id="menu-item-2371" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="simple.html">Simple</a></li>
                                        <li id="menu-item-2366" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="splitted-screen.html">Splitted Screen</a></li>
                                        <li id="menu-item-2373" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="splitted-creative-banner.html">Splitted Creative
                                                Banner</a></li>
                                        <li id="menu-item-2370" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="columns-gallery.html">Creative gallery</a></li>
                                        <li id="menu-item-2367" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="slider.html">Slider</a></li>
                                        <li id="menu-item-2374" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                href="before-after.html">Before &#038; After</a></li>
                                        <li id="menu-item-2365" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="fullscreen-slider.html">Fullscreen Slider</a></li>
                                        <li id="menu-item-2380" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="video-background.html">Video Background</a></li>
                                        <li id="menu-item-2594" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="interior-design-showcase.html">Interior Design
                                                Showcase</a></li>
                                        <li id="menu-item-2598" class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                                href="carousel-showcase.html">Carousel showcase</a></li>
                                        <li id="menu-item-2614" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="split-slider.html">Split Slider</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2310" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children "><a
                                        href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2313" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a
                                                href="#">About</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-2331" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                        href="about-me.html">About Me</a></li>
                                                <li id="menu-item-2330" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                        href="about-us.html">About Us</a></li>
                                                <li id="menu-item-2357" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                        href="work-process.html">Work Process</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-2336" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children "><a
                                                href="services.html">Services</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-2345" class="menu-item menu-item-type-post_type menu-item-object-services "><a
                                                        href="planning.html">Services
                                                        Details</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-2335" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="bibliography.html">Bibliography</a></li>
                                        <li id="menu-item-2368" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item "><a
                                                href="media.html">Media</a></li>
                                        <li id="menu-item-2343" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="exhibition.html">Exhibition</a></li>
                                        <li id="menu-item-2339" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="clients.html">Clients</a></li>
                                        <li id="menu-item-2314" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a
                                                href="#">Pricing</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-2337" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                        href="pricing-image.html">Pricing Image</a></li>
                                                <li id="menu-item-2338" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                        href="pricing-simple.html">Pricing Simple</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-2315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a
                                                href="#">Contact</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-2341" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                        href="contact-me.html">Contact Me</a></li>
                                                <li id="menu-item-2340" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                        href="contact-us.html">Contact Us</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-2318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a
                                                href="#">Other Pages</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-2344" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                        href="coming-soon.html">Coming Soon</a></li>
                                                <li id="menu-item-2346" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                        href="protected-page.html">Protected Page</a></li>
                                                <li id="menu-item-2312" class="menu-item menu-item-type-custom menu-item-object-custom "><a
                                                        href="404.html">Error Page</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-2311" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a
                                        href="#">Projects</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2355" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-list.html">Work List</a></li>
                                        <li id="menu-item-2333" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-grid.html">Work Grid</a></li>
                                        <li id="menu-item-2334" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-masonry.html">Work Masonry</a></li>
                                        <li id="menu-item-2332" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-film-strip.html">Work Film Strip</a></li>
                                        <li id="menu-item-2356" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-category-list.html">Work Category List</a></li>
                                        <li id="menu-item-2348" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-timeline-list.html">Work Timeline List</a></li>
                                        <li id="menu-item-2347" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-timeline-images.html">Work Timeline Images</a></li>
                                        <li id="menu-item-2588" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="work-pinterest.html">Work Pinterest</a></li>
                                        <li id="menu-item-2589" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="fullscreen-projects.html">Work Fullscreen</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2316" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children "><a
                                        href="#">Project Details</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2351" class="menu-item menu-item-type-post_type menu-item-object-projects"><a
                                                href="daniel-moore-appartaments.html">Parallax</a></li>
                                        <li id="menu-item-2353" class="menu-item menu-item-type-post_type menu-item-object-projects "><a
                                                href="pastel-tones-design.html">Parallax
                                                With Text</a></li>
                                        <li id="menu-item-2377" class="menu-item menu-item-type-post_type menu-item-object-projects "><a
                                                href="henders-tragers-villa.html">Simple</a></li>
                                        <li id="menu-item-2486" class="menu-item menu-item-type-post_type menu-item-object-projects "><a
                                                href="stone-krow-house.html">Splitted
                                                Screen</a></li>
                                        <li id="menu-item-2379" class="menu-item menu-item-type-post_type menu-item-object-projects "><a
                                                href="mountain-house.html">Splitted
                                                Creative Banner</a></li>
                                        <li id="menu-item-2354" class="menu-item menu-item-type-post_type menu-item-object-projects "><a
                                                href="tycoon-office-interior-design.html">Columns
                                                Gallery</a></li>
                                        <li id="menu-item-2349" class="menu-item menu-item-type-post_type menu-item-object-projects"><a
                                                href="alto-furniture.html">Slider</a></li>
                                        <li id="menu-item-2350" class="menu-item menu-item-type-post_type menu-item-object-projects "><a
                                                href="alto-furniture-2.html">Before &#038;
                                                After</a></li>
                                        <li id="menu-item-2352" class="menu-item menu-item-type-post_type menu-item-object-projects"><a
                                                href="luxurious-apartment.html">Fullscreen
                                                Slider</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2433" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children "><a
                                        href="shop.html">Shop</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2436" class="menu-item menu-item-type-post_type menu-item-object-product "><a
                                                href="soft-chair.html">Product Details</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2445" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a
                                        href="blog.html">Blog</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2446" class="menu-item menu-item-type-post_type menu-item-object-page "><a
                                                href="blog-list.html">Blog List</a></li>
                                        <li id="menu-item-2447" class="menu-item menu-item-type-post_type menu-item-object-post"><a
                                                href="time-inc-architectura.html">Blog Details</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>


            <!-- mobile icon -->
            <div class="prague-nav-menu-icon">
                <a href="#">
                    <i></i>
                </a>
            </div>


            <div class="prague-social-nav">

                <a href="#">
                    <i class="fa fa-chain-broken" aria-hidden="true"></i>
                </a>

                <ul class="social-content">
                    <li>
                        <a target="_blank" href="https://www.behance.net/foxthemes">
                            <i aria-hidden="true" class="fa fa-behance"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://twitter.com/foxthemes_offic">
                            <i aria-hidden="true" class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/foxthemes.page/">
                            <i aria-hidden="true" class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.pinterest.com/foxthemes/">
                            <i aria-hidden="true" class="fa fa-pinterest-p"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </header>
    <!-- END HEADER -->

    <!--MAIN BODY-->
    <div class="container no-padd margin-lg-80b">
        <div class="row-fluid">
            <div class="col-sm-12 no-padd">
                <div class="padd-only-xs">
                        <div class="container-fluid top-banner no-padd  simple  dark no-marg-bottom vindow-height">
                            <div class="content">
                                <div class="prague-svg-animation-text">
                                    <?xml version="1.0"?>
                                    <svg width="93%" height="100%" fill="transparent" viewBox="0 0 302.44140625 159.921875"
                                        preserveAspectRatio="xMidYMid meet" class="prague-svg">
                                        <path d=" M5.56640625,119.921875l0-71.09375l21.6796875,0l15.91796875,49.755859375l0.29296875,0l16.11328125-49.755859375l21.77734375,0l0,71.09375l-16.552734375,0l0-17.626953125l1.5625-32.470703125l-0.29296875-0.048828125l-17.138671875,50.146484375l-11.1328125,0l-16.943359375-49.70703125l-0.29296875,0.048828125l1.5625,32.03125l0,17.626953125l-16.552734375,0z" />
                                        <path d=" M92.48046875,119.921875l0-71.09375l49.51171875,0l0,12.6953125l-32.958984375,0l0,15.283203125l27.880859375,0l0,12.6953125l-27.880859375,0l0,17.724609375l32.861328125,0l0,12.6953125l-49.4140625,0z" />
                                        <path d=" M149.365234375,119.921875l0-71.09375l25.68359375,0q12.548828125,0,20.99609375,8.1787109375t8.447265625,20.9716796875l0,12.79296875q0,12.841796875-8.447265625,20.99609375t-20.99609375,8.154296875l-25.68359375,0z M165.91796875,107.2265625l8.0078125,0q6.591796875,0,10.302734375-4.5166015625t3.7109375-11.9384765625l0-12.890625q0-7.373046875-3.7109375-11.865234375t-10.302734375-4.4921875l-8.0078125,0l0,45.703125z" />
                                        <path d=" M215.8203125,119.921875l0-71.09375l16.455078125,0l0,71.09375l-16.455078125,0z" />
                                        <path d=" M239.306640625,119.921875l22.94921875-71.09375l17.724609375,0l22.998046875,71.09375l-16.6015625,0l-4.052734375-13.818359375l-22.412109375,0l-4.00390625,13.818359375l-16.6015625,0z M263.57421875,93.408203125l15.087890625,0l-7.421875-25.439453125l-0.29296875,0z" /></svg>
                                </div>

                                <div class="subtitle">MAGAZINES</div>
                                <h2 class="title">We are popular.</h2>
                            </div>
                            <div class="top-banner-cursor"></div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row-fluid no-padd margin-lg-80b margin-sm-30b">
            <div class="col-sm-12 no-padd">
                <div class="padd-only-xs">
                        <div data-unique-key="4ad19ab45fc97cae6d0da6365a6a08a4" class="js-load-more" data-start-page="1"
                            data-max-page="1" data-next-link="">
                            <div class="row prague_media prague_count_col4 prague_gap_col15  no-footer-content prague-load-wrapper"
                                data-columns="prague_count_col4" data-gap="prague_gap_col15">
                                <div class="portfolio-item-wrapp prague_filter_class ">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img src="img/media/1c828ebc91f2aed2cd60931dfd0ea6f1.jpg"
                                                    class="s-img-switch" alt="magazine banner"/>
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/architectect/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/architectect/"
                                                        target="_self">Architectect</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class  column_paralax">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img src="img/media/1dbce5333efd508f97249b1a44314f2d.jpg"
                                                    class="s-img-switch" alt="magazine image"/>
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/evolo-2/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/evolo-2/"
                                                        target="_self">eVolo</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class ">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img src="img/media/Western-Art-and-Architecture-Magazine-Cover.jpg"
                                                    class="s-img-switch" alt="magazine banner" />
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/western-art-architecture/"
                                                        class="media-item-link-name a-btn-arrow" target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/western-art-architecture/"
                                                        target="_self">Western Art &#038; Architecture</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class ">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img src="img/media/prefab-hr-rgb.jpg"
                                                    class="s-img-switch" alt="magazine banner"/>
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/dwell/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/dwell/"
                                                        target="_self">dwell</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class  column_paralax">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img src="img/media/concept_133_waithinktank.jpg"
                                                    class="s-img-switch" alt="magazine banner"/>
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/concept/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/concept/"
                                                        target="_self">Concept</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class ">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img src="img/media/AM-J.F2015-Cover-390x476.jpg"
                                                    class="s-img-switch" alt="magazine banner"/>
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/architecture-mn/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/architecture-mn/"
                                                        target="_self">Architecture MN</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class ">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img src="img/media/Middle-East-Architect-Magazine-November-2013.jpg"
                                                    class="s-img-switch" alt="magazine banner"/>
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/architect/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/architect/"
                                                        target="_self">Architect</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class  column_paralax">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img src="img/media/1672.jpg"
                                                    class="s-img-switch" alt="magazine banner"/>
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/lam/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/lam/"
                                                        target="_self">LAM</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class ">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img  src="#" data-lazy-src="img/media/16c16b0c2dc927453425fbad04c22e09.jpg"
                                                    class="s-img-switch" alt="magazine image"/>
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/evolo/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/evolo/"
                                                        target="_self">eVolo</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class ">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img  src="#" data-lazy-src="img/media/2664-selectcover-architecture-s07.jpg"
                                                    class="s-img-switch" alt="magazine image" />
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/select-architecture/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/select-architecture/"
                                                        target="_self">Select Architecture</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class  column_paralax">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img  src="#" data-lazy-src="img/media/46335a8fabb3160e4d7220691c109557.jpg"
                                                    class="s-img-switch" alt="magazine image"/>
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/architecture-austria/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/architecture-austria/"
                                                        target="_self">Architecture Austria</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="portfolio-item-wrapp prague_filter_class ">
                                    <div class="portfolio-item">

                                        <div class="prague-media-wrapper">
                                            <div class="media-item-img">

                                                <img  src="#" data-lazy-src="img/media/1456768749_metal-architecture-march-2016-1.jpg"
                                                    class="s-img-switch" alt="magazine image"/>
                                                <div class="vertical-align media-item-img-link">
                                                    <a href="http://wp.themedemo.co/prague/media-item/metal-architecture/" class="media-item-link-name a-btn-arrow"
                                                        target="_self">
                                                        <span class="arrow-right grey"></span>
                                                        READ </a>
                                                </div>

                                            </div>

                                            <div class="media-item-content">
                                                <h4 class="media-item-title"><a href="http://wp.themedemo.co/prague/media-item/metal-architecture/"
                                                        target="_self">Metal Architecture</a></h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>
                </div>
            </div>
        </div>
    </div>
    <!--/MAIN BODY-->

    <!-- START FOOTER -->
    <footer class="prague-footer default">

        <img src="img/home/ffa51a33625455.56b20f01c3608.jpg" class="s-img-switch" alt="footer banner" />
        <div class="footer-content-outer">
            <div class="footer-top-content">
                <div class="prague-footer-main-block">
                    <div class="prague-logo">
                        <a href="http://prague.loc/">
                            <img src="img/home/logo-white.png" class="attachment-full size-full"
                                alt="logo" /> </a>
                    </div>

                    <div class="footer-main-content">
                        <p>The company principle of Architecture-Studio is the collective conception. From the very
                            beginning, the practice has believed in the virtues of exchange, crossing ideas, common
                            effort, shared knowledge and enthusiasm.</p>
                    </div>

                </div>
                <div class="prague-footer-info-block">

                    <h6 class="footer-info-block-title">GET IN TOUCH</h6>

                    <div class="footer-info-block-content">
                        <p><a href="tel:+7(885)5896985">+7 (885) 589 69 85</a></p>
                        <p><a href="mailto:prague-architects@info.com">prague-architects@info.com</a></p>
                        <p>Litačka, Jungmannova 35/29, Nové Město,Czech Republic</p>
                    </div>

                </div>
            </div>
            <div class="footer-bottom-content">

                <!-- Footer copyright -->
                <div class="footer-copyright">
                    <p>PRAGUE (C) 2019 ALL RIGHTS RESERVED</p>
                </div>
                <!-- End footer copyright -->

                <div class="prague-social-nav">


                    <ul class="social-content">
                        <li>
                            <a target="_blank" href="https://www.behance.net/foxthemes">
                                <i aria-hidden="true" class="fa fa-behance"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/foxthemes_offic">
                                <i aria-hidden="true" class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/foxthemes.page/">
                                <i aria-hidden="true" class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.pinterest.com/foxthemes/">
                                <i aria-hidden="true" class="fa fa-pinterest-p"></i>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

    </footer>
    <!--/END FOOTER-->



    <script src="js/jquery.js"></script>
    <script src="js/vivus.min.js"></script>
    <script src="js/hammer.min.js"></script>
    <script src="js/foxlazy.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/all.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    
</body>

</html>